/* Map styles */
.country {
    fill: rgb(52, 51, 50);
    stroke: rgb(71, 71, 71);
    vector-effect: non-scaling-stroke;
}

.brazil_state {
    fill: rgb(71, 69, 67);
    stroke: rgb(87, 86, 86);
    vector-effect: non-scaling-stroke;
}

.selected_state {
    fill: rgb(96, 95, 94);
    stroke: rgb(112, 110, 110);
    vector-effect: non-scaling-stroke;
}

.oceans {
    fill: rgb(24, 26, 27);
    stroke: #333;
    stroke-width: 1px;
}

.route {
    fill: transparent;
    stroke: rgb(9, 255, 243);
    stroke-width: 0.5px;
    pointer-events: none;
}

.circle {
    fill: rgb(9, 255, 243);
}

.base_plane {
    fill: rgba(205, 248, 246, 0.904)
}

.selected_plane {
    fill: rgba(250, 247, 60, 0.904)
}

.interactiveMap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Slider styles */
g#slider {
    display: flex;
}

/* Plots styles */
#plots {
    width: 960px;
    flex-direction: row;
}

#plots #companies {
    align-self: flex-end;
}

#plots #types {
    align-self: flex-start;
}

/* Checkbox styles */

.checkboxContainer {
    z-index: 2;
    margin-top: -825px;
    margin-left: 860px;
    width: 70px;
    height: 60px;
    background-color: rgb(71, 69, 67);
    border: 1px solid;
    border-radius: 3px;
    border-color: #D3D3D3;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkboxLabel {
    color: #D3D3D3;
    font-size: 15px;
    font-family: 'Helvetica Neue';
}

/* Plane information styles */
.about_plane {
    color:  #D3D3D3;
    margin-left: 700px;
    margin-top: 320px;
    width: 200px;
    height: 100px;
    pointer-events: none;
    white-space:pre-wrap;
    font-family: 'Helvetica Neue';
}

/* Main div style */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 844px;
    width: 960px;
    border: 1px solid;
    border-color: lightgray;
}

.hidden {
    display: none;
}

.map-spinner {
    z-index: 3;
    height: 20px;
    width: 20px;
}

.black-background {
    background-color: rgb(24, 26, 27);
}
