/* Map styles */
.country {
    fill: rgb(52,51,50);
    stroke: rgb(71, 71, 71);
    vector-effect: non-scaling-stroke;
}

.brazil_state {
    fill: rgb(71, 69, 67);
    stroke: rgb(87, 86, 86);
    vector-effect: non-scaling-stroke;
}

.selected_state {
    fill: rgb(96, 95, 94);
    stroke: rgb(112, 110, 110);
    vector-effect: non-scaling-stroke;
}

.oceans {
    fill: rgb(24,26,27);
    stroke: #333;
    stroke-width: 1px;
}

.route {
    fill: transparent;
    stroke: rgb(9, 255, 243);
    stroke-width: 0.5px;
    pointer-events: none;
}

.circle {
    fill: rgb(9, 255, 243);
}

.interactiveMap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Slider styles */
g#slider {
    display: flex;
}

/* Plots styles */
#plots {
    width: 960px;
    flex-direction: row
}

#plots #companies {
    align-self: flex-end;
}

#plots #types {
    align-self: flex-start;
}

/* Dropdown styles */

.dropdown {
    z-index: 2;
    margin-top: -830px;
    margin-left: 830px;
    background-color: rgb(71, 69, 67);
    color:  rgb(209, 209, 209);
    border-radius: 3px;
}

/* Plane information styles */
.about_plane {
    color: white;
    margin-left: 700px;
    margin-top: 350px;
    width: 200px;
    height: 100px;
    pointer-events: none;
    white-space:pre-wrap;
}

/* Main div style */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
